*{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1665435604098-07f3b461f0bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDExfE8zd0JjNTl6emY4fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=400&q=60);
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}
    

h1{
    color: whitesmoke;
    margin-top:200px;
    font-size: 20px;
    text-align: center;

}
#box{
    color: gray;
    border: 2px solid whitesmoke;
    border-radius: 3px;
    height: 50px;
    font-size: large;
    width: 150px;
}
.mytext{
    border: 5px solid whitesmoke;
    border-radius: 4px;
    height: 40px;
    font-size: large;
    width: 40%;
    
}
.btn{
    margin-top:100px;
    text-align: center;
}
#search{
    font-size: 30px;
    position: relative;
    padding:0;
    color: whitesmoke;
}
    






/* .interval{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: whitesmoke;

} */